# Testing

In [1]:
import os

In [4]:
# types
type(1)

int

In [5]:
# types
type(1.4)

float

In [1]:
print('Hello World')

Hello World

In [2]:
import pandas as pd

In [4]:
pd.DataFrame({'col1':[1,2,3], 'col2':['1','2','3']})

   col1 col2
0     1    1
1     2    2
2     3    3