# Testing

In [1]:
import os

In [4]:
# types
type(1)

int

In [5]:
# types
type(1.4)

float

In [1]:
print('Hello World')

Hello World

In [2]:
import pandas as pd

In [4]:
pd.DataFrame({'col1':[1,2,3], 'col2':['1','2','3']})

   col1 col2
0     1    1
1     2    2
2     3    3

In [2]:
# Error
1 / 0

ZeroDivisionError: division by zero

In [9]:
SALARY = 80000
californiaTax = 3009.40 + (SALARY - 68350) * .093
stateTax = 5147 + (SALARY - 44725) * .22
salaryAfterTax = SALARY - californiaTax - stateTax

print('This is my Net Income after taxes ðŸ˜“')
print(salaryAfterTax)
print("Uncle Sam's cut")
print((californiaTax + stateTax) / SALARY * 100)
print('Which means I take home below every month, I still need to remove any insurance and benefit fees')
print(salaryAfterTax / 52 * 4)

This is my Net Income after taxes ðŸ˜“
62999.649999999994
Uncle Sam's cut
21.2504375
Which means I take home below every month, I still need to remove any insurance and benefit fees
4846.126923076923

In [2]:
SALARY = 80000
CaliforniaTax = 3009.40 + (SALARY - 68350) * .093
StateTax = 5147 + (SALARY - 44725) * .22
SalaryAfterTax = SALARY - CaliforniaTax - StateTax

print('This is my Net Income after taxes ðŸ˜“')
print(SalaryAfterTax)
print("Uncle Sam's cut")
print((CaliforniaTax + StateTax) / SALARY * 100)
print('Which means I take home below every month, I still need to remove any insurance and benefit fees')
print(SalaryAfterTax / 52 * 4)

This is my Net Income after taxes ðŸ˜“
62999.649999999994
Uncle Sam's cut
21.2504375
Which means I take home below every month, I still need to remove any insurance and benefit fees
4846.126923076923