# Python Crash Course
Note - This is not a comprehensive overview, you will need to review Python or take a course on it.

# Topics Covered  

## Data Types
- Strings
- Integers
- Lists
- Dictionaries
- Booleans
- Tuples
- Sets  

## Other Topics
- Operators
- If, else, elif
- Loops
- While loops
- Range()
- List comprehension
- Functions
- Methods
- Lambda expressions
- Map and filters

# Data Types

In [1]:
# Addition
1 + 0

1

In [2]:
# Multiplication
1 * 0

0

In [3]:
# Division
0 / 1

0.0

In [4]:
# Floor Division
5 // 2

2

In [5]:
# Exponential
2 ** 4

16

In [6]:
# Modulo Example 1
4 % 2

0

In [7]:
# Modulo Example 2
5 % 2

1

In [8]:
# Order of Operations
(1 + 3) * (2  + 2)

16

# Variables

In [9]:
moy = 13

In [10]:
x = 1
y = 2

In [11]:
z = x + y + moy

In [12]:
z

16

# Strings

In [13]:
'Single Quotes'

'Single Quotes'

In [14]:
"Double Quotes"

'Double Quotes'

In [15]:
"I don't want to review python"

"I don't want to review python"

# Prints

In [16]:
mo = 'WOW'

In [17]:
mo

'WOW'

In [18]:
print(mo)

WOW

In [19]:
number = 100
name = 'Goku'

In [20]:
# Formats
print('I can count up to {something1} before {something2} does kamehameha'.format(something1=number, something2=name))

I can count up to 100 before Goku does kamehameha

In [21]:
# Format ex. 2
print('I can count up to {} before {} does kamehameha'.format(number, name))

I can count up to 100 before Goku does kamehameha

In [22]:
# F string
print(f'{name} is older than {number}')

Goku is older than 100

# Lists

In [23]:
# A list has []
[1, 2, 3]

[1, 2, 3]

In [24]:
['moy', name, ['a',2, number]]

['moy', 'Goku', ['a', 2, 100]]

In [25]:
popo_list = ['a', 'b', 'c', ['more', 'nested', 'stuff']]

In [26]:
popo_list[3]

['more', 'nested', 'stuff']

In [27]:
popo_list[0]

'a'

In [28]:
popo_list[1:]

['b', 'c', ['more', 'nested', 'stuff']]

In [29]:
popo_list[:2]

['a', 'b']

In [30]:
popo_list[:-1]

['a', 'b', 'c']

In [31]:
popo_list[0] = 13
popo_list

[13, 'b', 'c', ['more', 'nested', 'stuff']]

In [32]:
popo_list[3][2]

'stuff'

# Dictionaries

In [33]:
dic1 = {'key': 'value', 'key2': 'value2'}

In [34]:
dic1['key2']

'value2'

In [35]:
dic1.keys()

dict_keys(['key', 'key2'])

In [36]:
dic1.values()

dict_values(['value', 'value2'])

In [37]:
dic1.items()

dict_items([('key', 'value'), ('key2', 'value2')])

# Tuples

In [38]:
tuple1 = (1, 2, 3, 4, 5, 5)

In [39]:
tuple1[3]

4

In [40]:
try:
    tuple1[3] = 'Hola'
except Exception as e:
    print(type(e).__name__)
    print(type(e).__doc__)
    print(e)

TypeError
Inappropriate argument type.
'tuple' object does not support item assignment

# Sets

In [41]:
set1 = {1, 2, 3, 4, 5, 5}

In [42]:
set1

{1, 2, 3, 4, 5}

In [43]:
try:
    set1[0] = 13
except Exception as e:
    print(type(e).__name__)
    print(type(e).__doc__)
    print(e)

TypeError
Inappropriate argument type.
'set' object does not support item assignment

# Operators

In [44]:
4 > 2

True

In [45]:
0 >= 2

False

In [46]:
0 == 1

False

In [47]:
'Goku' == 'Goku '

False

In [48]:
'Goku' == 'Goku'

True

## Logic Operators

In [49]:
(2 > 0) and (3 > 5)

False

In [50]:
(2 > 0) or (3 > 5)

True

# If, elif, else Statements

In [51]:
if 3 > 4:
    print('Print if statement is true')
else:
    print('Print if statement is false')

Print if statement is false

In [52]:
if 3 < 4:
    print('Print if statement is true')
else:
    print('Print if statement is false')

Print if statement is true

In [53]:
if 1 > 2:
    print('First Statement')
elif 13 == 13:
    print('Middle Statement')
else:
    print('Last Statement')

Middle Statement

# For Loop

In [54]:
a_list = ['I', 'am', 'one', 'or', 1]

In [55]:
for something in a_list:
    print(something)

I
am
one
or
1

In [56]:
for _ in a_list:
    print(_)
    print('repeat this')

I
repeat this
am
repeat this
one
repeat this
or
repeat this
1
repeat this

In [57]:
for x in range(5):
    print(x)

0
1
2
3
4

In [58]:
list(range(5))

[0, 1, 2, 3, 4]

# While Loops

In [59]:
i = 1
while i < 5:
    print(f'i = {i}')
    i += 1

i = 1
i = 2
i = 3
i = 4

# List Comprehension

In [60]:
numberList = [1, 2, 3, 4, 5]
inputList = []
for element in numberList:
    inputList.append(element**2)
print(inputList)

[1, 4, 9, 16, 25]

In [61]:
[x**2 for x in numberList]

[1, 4, 9, 16, 25]

# Functions

In [62]:
def my_func(param1='some default value'):
    '''
    DocString: Some documentation and details of how your func works.
    '''
    print(param1)

In [63]:
my_func

In [64]:
my_func()

some default value

In [65]:
my_func('Not a default value, :)')

Not a default value, :)

In [66]:
def squarethis(number):
    return number**2

In [67]:
squared_value = squarethis(4)
print(squared_value)

16

# Methods

In [68]:
stringy = 'Hi, my name is Harry. Harry Potter.'

In [69]:
stringy.lower()

'hi, my name is harry. harry potter.'

In [70]:
stringy.upper()

'HI, MY NAME IS HARRY. HARRY POTTER.'

In [71]:
stringy.split()

['Hi,', 'my', 'name', 'is', 'Harry.', 'Harry', 'Potter.']

In [72]:
stringy.split('.')

['Hi, my name is Harry', ' Harry Potter', '']

In [73]:
stringy.split('.')[0]

'Hi, my name is Harry'

# Lambda Expresssions

In [74]:
def replaceMe(something):
    return something + 10

In [75]:
replaceMe(5)

15

In [76]:
lambda x : x + 10

# Map and Filters

In [77]:
aList = [1, 2, 3, 4, 5]

In [78]:
map(replaceMe, aList)

In [79]:
list(map(replaceMe, aList))

[11, 12, 13, 14, 15]

In [80]:
list(map(lambda x : x + 10, aList))

[11, 12, 13, 14, 15]

In [81]:
filter(lambda element : element % 2 == 0, aList)

In [82]:
list(filter(lambda element : element % 2 == 0, aList))

[2, 4]

# Great Job!
![Great Job!](https://i0.wp.com/michelleismoneyhungry.com/wp-content/uploads/2013/07/gatsby-leo-051113.gif?resize=500%2C239&ssl=1)